.myCard {
  align-items: flex-end;
  height: 100%;
}
.mt-5 {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}
.mt-6 {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
  gap: 1rem !important;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
}

@media screen and (min-width: 1050px) {
  .desktopView {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
