.myCard {
  min-height: 481px;
  object-fit: cover;
}
.myImg {
  width: 204px;
  margin: 0 auto !important;
}
.myImg img {
  width: 100%;
}
.h-1 {
  height: 100%;
}
.mt-5 {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}
.mt-6 {
  margin-top: 5rem !important;
  margin-bottom: 2rem !important;
  gap: 1rem !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (min-width: 1050px) {
  .mt-6 {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  }
}
